.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56em;
  position: absolute;
  top: 30%;
  left : 22%;
}

.home{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  position: absolute;
  top: 70%;
  left : 38%;
  font-size: 150%;
}
.box {
  display: flex;
  align-items:center
;
}
