.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}

img {
  object-fit: contain;
  width: 15em;
  height: 15em;
}

.form-buttons .left{
  float: left;
}

.form-buttons .right{
  float: right;
}
